.section{
    padding-block: 6rem;
}

.container{
    width: min(90%, 120rem);
    margin-inline: auto;
}

.container h1{
    font-size: 5rem;
    font-weight: 600;
    color: #1f2f42;
    line-height: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.container p{
    font-size: 1.6rem;
    color: #2e4057;
    margin-bottom: 1rem;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.buttons button{
    border: none;
    padding-block: 1.2rem;
    padding-inline: 3rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
}

.buttons button:first-child{
    background-color: #1E4E9D;
    color: #fff;
    font-weight: 600;
}

.buttons button:last-child{
    background-color: #fff;
    color: #1E4E9D;
    border: 1px solid #1E4E9D;
    font-weight: 600;
}

.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    padding-left: .5rem;
    max-width: fit-content;
    font-size: 1.4rem;
    color: #171717;
}

.cta span{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: #171717;
    color: #fff;
    border-radius: 5rem;
    padding-inline: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    padding-block: .5rem;
}

.image_container{
    width: min(90%, 120rem);
    margin-inline: auto;
    margin-top: 4rem;
}

.image{
    margin-inline: auto;
    border-radius: 1rem;
}