.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.header p{
    border-radius: .5rem;
    padding: .5rem;
    background-color: #fff;
    flex-basis: 100%;
    font-size: 1.3rem;
    text-align: center;
    color: rgba(0, 0, 0, .7);
}


.profile picture{
    position: relative;
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50rem;
}

.profile picture img{
    width: 100%;
    object-fit: cover;
    border-radius: 50rem;
}

.badge {
    display: inline-flex;
    background-color: green;
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: -.1rem;
    right: -.3rem;
    z-index: 99;
    border-radius: 50rem;
}

