.content{
    background-color: #FCFDFE;
    width: 100%;
    min-height: 95vh;
    border-radius: 1rem;
    margin-top: .5rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .05);
    display: grid;
    grid-template-columns: 35rem 1fr;
}

.header{
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
}

.sidebar{
    border: 1px solid rgba(0, 0, 0, .05);
}

.list{
    padding: 1rem;
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    transition: .3s;
    border-radius: .5rem;
    cursor: pointer;
}

.task:hover{
    background-color: rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.task h4{
    font-weight: 400;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .8);
}

.task .date{
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, .8);
}

.tag{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50rem;
    font-size: 1.25rem;
    padding: .3rem 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    gap: .5rem;
}

.tag span{
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    border-radius: 50rem;
}

.empty_container{
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.empty_card{
    width: min(90%, 100rem);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
    border-radius: 1rem;
    padding: 2rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.empty_card h3{
    font-size: 1.4rem;
    font-weight: 300;
    color: rgba(0, 0, 0, .8);
}

.empty_card button{
    color: rgba(0, 0, 0, .6);
}

.container_details{
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.details{
    width: min(90%, 70rem);
    color: rgba(0, 0, 0, .7);
}

.info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.details h3{
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.info p{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .6);
}

.info h4{
    font-weight: 500;
}

.note_box{
    background-color: #fff;
    border: 1rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
    margin-top: 2rem;
    padding: 1rem;
}

.note_box input{
    width: 100%;
    height: 3.5rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
}

.note_box button{
    margin-left: auto;
}
.footer{
    margin-top: 2rem;
}

.gender{
    display: inline-flex;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50rem;
    font-size: 1.2rem;
    padding: .4rem 1.5rem;
}

.age{
    display: inline-flex;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50rem;
    font-size: 1.2rem;
    padding: .4rem .6rem;
}


.notes{
    border: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
    min-height: 4rem;
    margin-top: 2rem;
    border-radius: .5rem;
    padding: 2rem ;
}

.notes h4{
    margin-bottom: 1.5rem;
}

.note{
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.date{
    font-weight: 600;
    margin-left: .5rem;
}

.initial{
    display: inline-flex;
    background-color: #E0E7FF;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: #6366F1;
    margin-right: 1rem;
}


.name{
    display: flex;
    align-items: center;
}